# Node.js dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# OS / editor junk files
.DS_Store
Thumbs.db

#folder for uploaded files
uploads/
