
/* Profile Section */
.profile {
  text-align: center;
  margin-bottom: 1rem;
}

.profile img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.6rem solid #333;
  object-fit: cover;
}

.profile h2 {
  font-size: 2rem;
  font-weight: 700;
font-family: 'Raleway', sans-serif;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.social-icons a {
  width: 3.5rem;
  height: 3.5rem;
  background: #222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s ease;
  font-size: 1.6rem;
}

.social-icons a:hover {
  background: #149ddd;
  color: #fff;
}

/* Navigation Links */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  color: #bbb;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
}


/* Hover state */
.nav-links a:hover {
  color: #fff; /* text white */
}

.nav-links a:hover svg {
  color: #149ddd; /* icon blue */
}

/* Active state */
.nav-links a.active {
  color: #fff; /* text white */
}

.nav-links a.active svg {
  color: #149ddd; /* icon blue */
}
/* Sidebar default (desktop) */
.sidebar {
  background: linear-gradient(180deg, #000000, #1f2937);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
 overflow: hidden;
  transition: transform 0.8s ease-in-out;
}

/* Mobile & tablet view */
@media (max-width: 1250px) {
  .sidebar {
    position: fixed;       /* override sticky */
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transform: translateX(-100%); /* keep hidden */
    z-index: 1000;
   transition: transform 0.8s ease-in-out;
  }

  /* When sidebar is open */
  .sidebar.open {
    transform: translateX(0); /* slide in */
  }
}

/* Toggle button */
.menu-toggle {
  display: none;
}

@media (max-width: 1250px) {
  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #149ddd;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1101; /* must be above sidebar */
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .menu-toggle:hover {
    background: #0f7bbf;
  }
}
